<!-- main panel with the list of configurations -->

<div class="bs-example" data-example-id="panel-without-body-with-table">

    <div class="table-controls">
        <table class="table table-striped table-hover">
            <tbody>
                <tr class="confTable" *ngFor="let id of configIDs; let i = index" id="configurationRow-{{i + 1}}">
                    <td><span (click)="editConfiguration(id)" class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span></td>
                    <td><span (click)="duplicateConfiguration(id)" class="glyphicon glyphicon-duplicate" aria-hidden="true" title="Duplicate"></span></td>
                    <td><span (click)="confirmDelete(id)" class="glyphicon glyphicon-remove deleteButton" aria-hidden="true" title="Delete"></span></td>
                    <td><span (click)="saveConfiguration(id)" class="glyphicon glyphicon-save saveButton" aria-hidden="true" title="Save"></span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="panel panel-primary panel-resizable config-panel" >
        <div class="panel-heading">Configuration list</div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <!-- <table class="pale-blue-rows"> -->
                <thead>
                    <tr id="configurationTable">
                        <!-- <th colspan="4"></th> -->
                        <th>#</th>
                        <th *ngFor="let heading of table_headings" ><div class="prevent-wrap">{{heading}}</div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="confTable" *ngFor="let configuration of configs; let i = index" id="configurationRow-{{i + 1}}">

                        <!-- <td><span (click)="editConfiguration(configuration.id)" class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span></td>
                        <td><span (click)="duplicateConfiguration(configuration.id)" class="glyphicon glyphicon-duplicate" aria-hidden="true" title="Duplicate"></span></td>
                        <td><span (click)="confirmDelete(configuration.id)" class="glyphicon glyphicon-remove deleteButton" aria-hidden="true" title="Delete"></span></td>
                        <td><span (click)="saveConfiguration(configuration.id)" class="glyphicon glyphicon-save saveButton" aria-hidden="true" title="Save"></span></td> -->

                        <td >{{i + 1}}</td>
                        <td *ngFor="let val of configuration">{{val}}</td>
                        <!-- <td><span ng-if="current.name=='KCWI'" (click)="current.editDetector(configuration.id)" class="glyphicon glyphicon-camera" aria-hidden="true"></span></td>
                        <td><span ng-if="current.name=='KCWI'" (click)="current.editCalunit(configuration.id)" class="glyphicon glyphicon-flash" aria-hidden="true"></span></td> -->

                        <!-- <td><span style="cursor:pointer;color:#3c763d;" (click)="confirmExecute(configuration.id,configuration.statenam)"
                        class="glyphicon glyphicon-play" aria-hidden="true"></span></td> -->

                    </tr>



                </tbody>
            </table>
        </div>

    </div>
</div>
