<div class="header clearfix">
    <div class="title-header">
        <div class="title-left">
            <h3 *ngIf="current.name!='Instrument'">Keck I Configuration Manager: {{current.name}}</h3>
            <h3 *ngIf="current.name=='Instrument'">Keck I Configuration Manager</h3>
        </div>

        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active">
                <a href="https://www2.keck.hawaii.edu/inst/{{current.name.toLowerCase()}}" *ngIf="current.name!='Instrument'" target="_blank" >{{current.name}} Homepage</a>
                <a href="https://www2.keck.hawaii.edu/inst/" *ngIf="current.name=='Instrument'" target="_blank" >Instrument Homepage</a>
            </li>

            <li role="presentation" class="active">
                <a href="https://www2.keck.hawaii.edu/inst/PILogin/too/" target="_blank" >Submit ToO Request</a>
            </li>
        </ul>
    </div>

    <nav>

        <ul class="nav nav-pills pull-right">




            <li role="presentation" class="active">
                <a href="#" [hidden]="current.name=='Instrument'" (click)="doFileInput($event)" *ngIf="inst_name!=='Instrument' && current.progname !== 'Program'">
                    <label id="state-label" >Load State File</label>
                </a>
                <input type="file" id="statefile" (change)="onFileContentChange($event)" accept=".state" />
            </li>


            <!-- <li role="presentation" class="active">
            <a href="#SelectButton" data-toggle="modal" (click)="showProgPopUp()" >Select Program</a>
        </li> -->

        <li role="presentation" class="active">
            <div class="aoyue-select animated zoomIn" (mouseenter)="sem_show=true" (mouseleave)="sem_show=false">
                <input type="radio" name="option">
                <i class="toggle icon icon-arrow-down"></i>
                <span class="placeholder">{{current.semester}}</span>
                <div class="hidden-options" [hidden]="!sem_show">
                    <label class="option" *ngFor="let semester of allowedSemesters">
                        <input type="radio" name="option" id="semester-{{semester}}" [(ngModel)]="current.semester" [value]="semester" (click)="swapSemester(semester)">
                        <span class="title animated fadeIn">{{semester}}</span>
                    </label>
                </div>
            </div>
        </li>

        <li role="presentation" class="active">
            <div class="aoyue-select animated zoomIn" (mouseenter)="opt_show=true" (mouseleave)="opt_show=false">
                <input type="radio" name="option">
                <i class="toggle icon icon-arrow-down"></i>
                <span class="placeholder">{{current.progname}}</span>
                <div class="hidden-options" [hidden]="!opt_show">
                    <label class="option" *ngFor="let program of allowedPrograms">
                        <input type="radio" name="option" id="program-{{program}}" [(ngModel)]="current.progname" [value]="program" (click)="swapProgram(program)">
                        <span class="title animated fadeIn">{{program}}</span>
                    </label>
                </div>
            </div>
        </li>

        <li role="presentation" class="active">
            <div class="aoyue-select animated zoomIn" (mouseenter)="show_opt=true" (mouseleave)="show_opt=false">
                <input type="radio" name="option">
                <i class="toggle icon icon-arrow-down"></i>
                <span class="placeholder">{{current.name}}</span>
                <div class="hidden-options" [hidden]="!show_opt">
                    <label class="option" *ngFor="let key of allowedInstruments">
                        <input type="radio" name="option" id="instrument-{{key}}" [(ngModel)]="inst_name" [value]="key" (click)="swapInstrument(key)" >
                        <span class="title animated fadeIn">{{key}}</span>
                    </label>
                    <label class="option" >
                        <input type="radio" name="option" id="instrument-OSIRIS" href="https://www.keck.hawaii.edu/inst/PILogin/ObservingTools/oopgui/oopgui.html">
                        <span class="title animated fadeIn">OSIRIS</span>
                    </label>
                </div>
            </div>
        </li>

        <li role="presentation" class="active" *ngIf="inst_name!=='Instrument' && current.progname !== 'Program'">
            <a href="#" data-toggle="modal" (click)="showAddPopUp()" [hidden]="current.progname=='Program'" >Add Configuration</a>
        </li>

    </ul>
</nav>
</div>
