<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 *ngIf="showAdd" class="modal-title" id="addModalLabel" >Add configuration info</h4>
    <h4 *ngIf="!showAdd" class="modal-title" id="addModalLabel" >Update configuration info</h4>
</div>
<div class="modal-body">
    <form id="dataEntryForm">
        <!-- <div *ngIf="!showAdd"> -->
        <div>
            <div class="form-group" *ngFor="let item of text_values">
                <label for="txt{{item.name}}" class="control-label">{{item.title}}:</label>
                <input type="text" class="form-control" [(ngModel)]="_current.info[item.name]" id="txt{{item.name}}" [ngModelOptions]="{standalone:true}" />
            </div>
            <div class="form-group" *ngFor="let item of selectValues">
                <label for="txt{{item.name}}" class="control-label">{{item.title}}:</label>
                <select class="form-control" [(ngModel)]="_current.info[item.name]" id="txt{{item.name}}" [ngModelOptions]="{standalone:true}" >
                    <option *ngIf="item.default" selected>{{item.default}}</option>
                    <option *ngFor="let opt of item.options">{{opt}}</option>
                </select>
            </div>
        </div>

        <!-- <div *ngIf="showAdd">
            <div class="form-group" *ngFor="let item of text_values">
                <label for="txt{{item.title}}" class="control-label">{{item.title}}:</label>
                <input type="text" class="form-control" [(ngModel)]="_current.info[item.title]" id="txt{{item.title}}" name="{{item.title}}" [value]="item.default" />
            </div>
            <div class="form-group" *ngFor="let item of selectValues">
                <label for="txt{{item.title}}" class="control-label">{{item.title}}:</label>
                <select class="form-control" [(ngModel)]="_current.info[item.title]" id="txt{{item.title}}" name="{{item.title}}">
                    <option *ngFor="let opt of item.options">{{opt}}</option>
                </select>
            </div>
        </div> -->

    </form>
</div>
<div class="modal-footer">
    <button type="button"  class="btn btn-default" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">Close</button>
    <button *ngIf="showAdd==true" id="btnAdd" (click)="addConfiguration()" type="button" class="btn btn-primary">Add configuration</button>
    <button *ngIf="showAdd==false" id="btnAdd" (click)="updateConfiguration()" type="button" class="btn btn-primary">Update</button>
</div>
